<ion-view>
    <ion-floating-button click="vm.goCart()" button-color="#E65100" icon="ion-ios-cart"></ion-floating-button>
    <ion-content>
        <div class="content has-header">
            <form name="form" ng-submit="vm.onSubmit()" stripe-form="stripeCallback">
                <div class="list">
                    <input type="hidden" name="stripeMoney" value="{{vm.totalPrice}}">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Card Number</span>
                        <input type="text" placeholder="Card Number" ng-model="number" payments-format="card" payments-validate="card" payments-type-model="type" name="card"/>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Expiration</span>
                        <input type="text" ng-model="expiry" placeholder="Expiration" payments-format="expiry" payments-validate="expiry" name="expiry">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">CVC</span>
                        <input type="text" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc">
                    </label>
                    <div ng-if="checkoutForm.card.$invalid">
                        Error: invalid card number!
                    </div>
                    <div ng-if="checkoutForm.expiry.$invalid">
                        Error: invalid expiration date!
                    </div>
                    <div ng-if="checkoutForm.cvc.$invalid">
                        Error: invalid CVC!
                    </div>
                    <alert ng-if="stripeError" type="'alert'">
                        Stripe returned an error: {{vm.stripeError}}
                    </alert>
                    <alert ng-if="stripeToken">
                        Stripe successfully acquired! Token: {{vm.stripeToken}}
                    </alert>
                    <label class="item">
                        <button ng-disabled="form.$invalid || vm.processing || vm.totalPrice == 0" type="submit" class="button button-block button-positive">
                            Pay {{vm.totalPrice | currency}}
                        </button>
                    </label>
                </div>
                <div ng-if="vm.processing" style="text-align: center;">
                    <ion-spinner icon="spiral"></ion-spinner>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>