<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ion-floating-menu/dist/ion-floating-menu.css" rel="stylesheet" type="text/css" />

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <script src="lib/ion-md-input/js/ion-md-input.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/babel-polyfill/browser-polyfill.js"></script>
    <script src="lib/requirejs/require.js"></script>
    <script src="lib/ion-floating-menu/dist/ion-floating-menu.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://api.filestackapi.com/filestack.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="lib/angular-payments/lib/angular-payments.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="app" ng-controller="AppCtrl">
    <ion-nav-view>
        <div ng-if="showMenu" class="tabs-striped tabs-top tabs-background-dark tabs-color-light tabs-icon-top">
            <div class="tabs">
                <a class="tab-item" ng-class="{'active': stat === 'search'}" href="#/app/search" ng-click="stat = 'search'">
                    <i class="icon ion-search"></i> search for beers
                </a>
                <a class="tab-item" ng-class="{'active': stat === 'user-profile'}" href="#/app/user-profile" ng-click="stat = 'user-profile'">
                    <i class="icon ion-person"></i> profile
                </a>
                <a class="tab-item" ng-class="{'active': stat === 'profile'}" href="#/app/myprofile" ng-click="stat = 'profile'">
                    <i class="icon ion-beer"></i> brewery
                </a>
                <a class="tab-item" ng-class="{'active': stat === 'activity'}" href="#/app/activity" ng-click="stat = 'activity'">
                    <i class="icon ion-arrow-graph-up-right"></i> Activity
                </a>
            </div>
        </div>

    </ion-nav-view>
</body>

</html>